<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Upcoming Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshScreen($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngIf="(distinctWeatherDays || []).length === 0">
      No Forecast Available
    </ion-item>
    <ion-item *ngFor="let day of distinctWeatherDays" (click)="displayWeatherDetail(day)">
      {{day.date}}
      <ion-avatar slot="start">
        <img src="http://openweathermap.org/img/wn/{{day.icon}}@2x.png"/>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
