<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshScreen($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="weather">
    <div class="header">
      <h1 class="city">{{weather.cityName}}</h1>
      <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png"/>
    </div>
    <div class="body mt-5 ion-text-center">
      <p>Description: {{weather.description | titlecase}}</p>
      <p>Current Temperature: {{weather.currentTemp}} F</p>
      <p>Feels Like: {{weather.feelsLike}} F</p>
      <p>High: {{weather.highTemp}} F</p>
      <p>Low: {{weather.lowTemp}} F</p>
      <p>Wind Speed: {{weather.windSpeed}}</p>
      <p>Wind Direction: {{weather.windDirection}}</p>
      <p *ngIf="weather.rainVolume">Rain Volume: {{weather.rainVolume}}</p>
      <p *ngIf="weather.snowVolume">Snow Volume: {{weather.snowVolume}}</p>
    </div>
  </div>
  <div *ngIf="!weather">
    <div class="mt-5 ion-text-center">
      <h1>No forecast available</h1>
    </div>
  </div>
</ion-content>
