

<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <h2>Weather App</h2>
</nav>

<div class="container mt-5">
  <h1 class="mb-3">Showing weather for...</h1>
  <ul>
    <li *ngFor="let location of locations">
        {{location.cityName}} ({{location.zipCode}})
    </li>
  </ul>

  <table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Location</th>
        <th scope="col">Current temp</th>
        <th scope="col">Feels Like</th>
        <th scope="col">Max Temp</th>
        <th scope="col">Low Temp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of weatherData; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{data.name}}</td>
        <td>{{data.main.temp}}</td>
        <td>{{data.main.feels_like}}</td>
        <td>{{data.main.temp_max}}</td>
        <td>{{data.main.temp_min}}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
