<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <h3 class="ion-padding-start">Weather Lookup Settings</h3>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Lookup Type<ion-text color="danger"></ion-text></ion-label>
        <ion-select name="contactLimit"  [(ngModel)]="settings.type">
          <ion-select-option [value]="0">Zip Code</ion-select-option>
          <ion-select-option [value]="1">Coordinates</ion-select-option>
          <ion-select-option [value]="2">City & State</ion-select-option>
        </ion-select>
        <ion-note>Controls how the weather is looked up.</ion-note>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="settings.type != null">
      <ion-label *ngIf="settings.type == 0" position="stacked">Zip Code (54476)<ion-text color="danger"></ion-text></ion-label>
      <ion-label *ngIf="settings.type == 1" position="stacked">Longitude and Latitude (44.8908,89.5476)<ion-text color="danger"></ion-text></ion-label>
      <ion-label *ngIf="settings.type == 2" position="stacked">City and State (Weston,WI)<ion-text color="danger"></ion-text></ion-label>
      <ion-input required type="text" name="zipCode" [(ngModel)]="settings.value"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" color="danger" expand="block" (click)="handleSave($event)">Save</ion-button>
  </form>
</ion-content>
