ion-content {
    margin: 0 auto;

    .user {
        background: var(--ion-color-primary);
        height: 120px;

        .avatar {
            width: 160px;
            height: 80px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px)) !important;
                border: 4px solid var(--ionic-color-primary);
                background-color: #fff;
            }
        }

        .label {

            position: relative;
            top: 80px;

            .name {
                font-size: 2em;
            }

            .country {
                position: relative;
                top: -1em;
            }
        }
    }

    .metadata{
        position: relative;
        top: 8em;
    }
}
