<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>

      </ion-buttons>
    <ion-title>{{user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
    <div class="user">
        <div class="avatar">
        <img  alt="{{user.name}}" src="{{user.photo}}"/>

        </div>

        <div class="label ion-text-center">
            <h3 class="name">{{user.name}}</h3>
            <h5 class="country">{{user.address.country}}</h5>
        </div>

    </div>
    <div class="metadata">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Address</ion-card-title>
                <ion-card-subtitle>Home</ion-card-subtitle>
            </ion-card-header>

            <ion-item>
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>
                    <div>{{user.address.street}}</div>
                    <div>{{ user.address.city}}, {{user.address.state}} {{user.address.zipCode}}</div>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>{{user.address.latitude}} {{user.address.longitude}}</ion-label>
                <ion-button fill="outline" slot="end" (click)="showMap(user.address.latitude, user.address.longitude)">View</ion-button>
            </ion-item>

            <ion-card-content class="ion-text-center" *ngIf="location">
                ~{{user.address.distanceFrom(location.latitude, location.longitude)}} miles away from your current location.
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>
