<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Weather Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="(weatherDetail || []).length === 0">
      No Forecast Available
    </ion-item>
    <ion-item *ngFor="let day of weatherDetail" (click)="displayWeatherDetail(day)">
      {{day.dateTime.toLocaleTimeString()}}: {{day.description | titlecase}}
        ({{day.currentTemp}} F)

      <ion-avatar slot="start">
        <img src="http://openweathermap.org/img/wn/{{day.icon}}@2x.png"/>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
