<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today">
      <ion-icon name="clock"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="daily">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Daily</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
